In [199]:
import pandas as pd

In [200]:
def razgaz (Go,Tpl,Pnas,rodeg,rogas,Met,N2):
    
    Pnas20=Pnas+(20-Tpl)/(9.157+701.8/Go/(Met-0.8*N2))
    print(Pnas20)

In [201]:
df=pd.read_excel('dz1.xlsx', u'Задание-1.1',header=5, usecols="B:H" ) # считали с файла dz1.xlsx и листа "Задание-1.1" данные

In [202]:
df.head(1)

   Гом, м3/т  tпл, °С  Рнас, МПа  ρнд, кг/м3  ρг, кг/м3   уСН4    уN1
0         85       73          8         845      1.325  0.312  0.198

In [203]:
# df.columns = ['Гом, м3/т', 'tпл, °С', 'Рнас, МПа','ρнд, кг/м3', 'ρг, кг/м3', 'уСН4','уN1']

In [204]:
a=df.at[0,'Гом, м3/т']
b=df.at[0,'tпл, °С']
c=df.at[0,'Рнас, МПа']
d=df.at[0,'ρнд, кг/м3']
e=df.at[0,'ρг, кг/м3']
f=df.at[0,'уСН4']
g=df.at[0,'уN1']

In [205]:
razgaz(a,b,c,d,e,f,g)

7.157527478731114

In [206]:
df.dtypes

Гом, м3/т       int64
tпл, °С         int64
Рнас, МПа       int64
ρнд, кг/м3      int64
ρг, кг/м3     float64
уСН4          float64
уN1           float64
dtype: object

In [207]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 7 columns):
Гом, м3/т     40 non-null int64
tпл, °С       40 non-null int64
Рнас, МПа     40 non-null int64
ρнд, кг/м3    40 non-null int64
ρг, кг/м3     40 non-null float64
уСН4          40 non-null float64
уN1           40 non-null float64
dtypes: float64(3), int64(4)
memory usage: 2.3 KB